#pixelArt{
    float:left;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    height:642px;
    width:642px;
}

#pixelArtEdit table,td{
    border-collapse: collapse;
    border:1px solid darkgrey;
}

#pixelArtEdit td{
    height:17px;
    width:17px;
}

#pixelArtEdit #content{
    margin-left:100px;
    width:300px;
    float:left;
}

#pixelArtEdit div#colorPalet{
    width:300px;
    padding-top:50px;
}

#pixelArtEdit div#currentColor{
    border: medium solid black;
    margin-bottom:20px;
    height:150px;
    width:100%;
    box-sizing: border-box;
}


#pixelArtEdit button.colorButton{
    height:60px;
    width:60px;
    margin:10px;
}

#pixelArtEdit #buttonRed{
    background-color: red;
}
#pixelArtEdit #buttonGreen{
    background-color: green;
}
#pixelArtEdit #buttonBlue{
    background-color: blue;
}
#pixelArtEdit #buttonYellow{
    background-color: yellow;
}
#pixelArtEdit #buttonCyan{
    background-color: cyan;
}
#pixelArtEdit #buttonPurple{
    background-color: purple;
}
#pixelArtEdit #buttonBlack{
    background-color: black;
}
#pixelArtEdit #buttonWhite{
    background-color: white;
}
#pixelArtEdit #savePixelArt{
    display: flex;
	justify-content: space-between;
}
#pixelArtEdit #shineDeleteButtons{
    margin-top:40px;
    display: flex;
	justify-content: space-between;
}
