* {
  padding: 0px;
  margin: 0px;
}
#templateh2 {
  margin: 40px 2.5%;
  font-size: 50px;
}
.example-image {
  max-width: 100%;
  height: 200px;
}
.body {
  margin-left:23px;
  display: flex;
  width: auto;
  flex-wrap: wrap;
}
.pixea-art {
  margin: 10px;
  height:285px;
}
.block-image {
  width: 200px;
}
.name {
  text-align: left;
  margin: auto;
  width: 150px;
  height: 25px;
  flex: 150px;
}
