#pixelArtsPreview {
    margin:20px 0px 20px 0px;
    display: inline-block;
}

#pixelArtsPreview table.pixelArea {
    width: 576px;
    height: 576px;
    margin: 0px;
    float: left;
}

#pixelArtsPreview table,td{
    border-collapse: collapse;
    border:1px solid darkgrey;
}

#pixelArtsPreview td{
    height:17px;
    width:17px;
}

#pixelArtsPreview div.btnSide {
    float: left;
}

#pixelArtsPreview div.margin {
    height: 450px;
}

#pixelArtsPreview div.btn {
    margin: 10px;
    
}

#pixelArtsPreview div.btn a#editButton{
    background-color: rgb(255, 206, 68);
}

#pixelArtsPreview div.btn button#deleteButton{
    background-color: rgb(217, 52, 72);
}

#pixelArtsPreview div.btn button#playButton{
    background-color:  rgb(97, 199, 26);
}